.text-area-container {
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 8px;
}

.firstname-input {
  border: none;
}

.input-field {
  width: 100% !important;
}

.spacing {
  margin-left: 4% !important;
}
.upload-button{
  display: none;
}

