/* logo.component.css */
.logo-container {
    background: url('/assets/images/logos/logo.png') no-repeat center center;
    background-size: contain;
    width: 44.481px;
    height: 24.015px;
    flex-shrink: 0;
}