//FONT-FAMILY
$app-font: Source Sans Pro;

//HEADLINE FONTS
$headline72: 4.5rem;
$headline60: 3.75rem;
$headline48: 3rem;
$headline32: 2rem;
$headline24: 1.5rem;

//TEXT FONTS
$text20: 1.25rem;
$text18: 1.125rem;
$text16: 1rem;
$text14: 0.875rem;

//FONT WEIGHT
$light: 200;
$regular: 300;
$medium: 400;
$semibold: 500;
$bold: 600;
$black: 700;

//HEIGHT & WIDTH
$width-519: 32.375rem;
$width-50: 3.125rem;