$blue: #014EBA;
$liteBlue:#f2f7ff;
$white:#ffffff;
$black:#000;
$orange:#f5844e;
$mainbg:#f8f9fb;
$headerbg:#f1f1f1;
$grey:#444444;
$gray2:#343A40;

// -----COLORS-----
$primary : #014EBA;
$secondary : #007ACC;
$accent1 :#009688;
$accent2 :#F26522;
$background :#F5F5F5;
$background-color: #FFF;
$border:#E9E9E9;
$text1: #0F0F0F;
$text2: #444444;
$text3: #666666;
$text4: #d8d8d8;
$text5: #E6E6E6;
$text6: #595959;
$text7: #343434;
$text8: #575757;
$text9: #F1F1F1;
$text10: #F0F0F0;
$lineDivider: #E0E0E0;


// -----FEEDBACK COLORS-----
$positive: #09BB8B;
$negative: #F03838;
$warning: #FFD700;
$info: #4093F3;



// -----TONAL PALETTE-----
// Primary Colors
$primary-50: #e6edf8;
$primary-100: #b0c8ea;
$primary-200: #8aaedf;
$primary-300: #5588d1;
$primary-400: #3472c8;
$primary-500: #014eba;
$primary-600: #0147a9;
$primary-700: #013784;
$primary-800: #012b66;
$primary-900: #00214e;

//Secondary Colors
$secondary-50: #e6f2fa;
$secondary-100: #b0d6ef;
$secondary-200: #8ac2e8;
$secondary-300: #54a6dd;
$secondary-400: #3395d6;
$secondary-500: #007acc;
$secondary-600: #006fba;
$secondary-700: #005791;
$secondary-800: #004370;
$secondary-900: #003356;

// Accent 1
$accent1-50 :#e6f5f3;
$accent1-100 :#b0deda;
$accent1-200 :#8acfc8;
$accent1-300 :#54b9af;
$accent1-400 :#33aba0;
$accent1-500 :#009688;
$accent1-600 :#00897c;
$accent1-700 :#006b61;
$accent1-800 :#00534b;
$accent1-900 :#003f39;

// Accent 2
$accent2-50 :#fef0e9;
$accent2-100 :#fbcfba;
$accent2-200 :#f9b899;
$accent2-300 :#f6986b;
$accent2-400 :#f5844e;
$accent2-500 :#f26522;
$accent2-600 :#dc5c1f;
$accent2-700 :#ac4818;
$accent2-800 :#853813;
$accent2-900 :#662a0e;

// Positive
$positive-25: #F0F9FF;
$positive-50 :#e6f8f3;
$positive-75: #e3f4ff;
$positive-100 :#b3eadb;
$positive-200 :#8ee0ca;
$positive-300 :#5ad1b1;
$positive-400 :#3ac9a2;
$positive-500 :#09bb8b;
$positive-600 :#08aa7e;
$positive-700 :#068563;
$positive-800 :#05674c;
$positive-900 :#044f3a;

// Negative
$negative-25 :#FFE3E3;
$negative-50 :#feebeb;
$negative-100 :#fac1c1;
$negative-200 :#f8a3a3;
$negative-300 :#f57a7a;
$negative-400 :#f36060;
$negative-500 :#f03838;
$negative-600 :#da3333;
$negative-700 :#aa2828;
$negative-800 :#841f1f;
$negative-900 :#651818;

// Warning
$warning-50 :#fffbe6;
$warning-100 :#fff3b0;
$warning-200 :#fffd8a;
$warning-300 :#ffe454;
$warning-400 :#ffdf33;
$warning-500 :#ffd700;
$warning-600 :#e8c400;
$warning-700 :#b59900;
$warning-800 :#8c7600;
$warning-900 :#6b5a00;

// Info
$info-50 :#ecf4fe;
$info-100 :#c4defb;
$info-200 :#a7cdf9;
$info-300 :#7fb7f7;
$info-400 :#66a9f5;
$info-500 :#4093f3;
$info-600 :#3a86dd;
$info-700 :#2d68ad;
$info-800 :#235186;
$info-900 :#1b3e66;

//button colors
$google: #FFFFFF;
$facebook: #196DD8;