@import "../../../assets/css/custom.scss";

.forgotPasswordSection {
    margin: 120px 0px 20px 0px;
}

.passwordInput {
    margin: 0px 0px 40px 0px;
}

.forgotPasswordBtn {
    width: 100%;
}

.cancelBtn {
    border: 2px solid $primary;
    color: $primary !important;
    font-weight: $bold;
}

.submitBtn {
    background-color: $primary;
    color: var(--text-color-1, #FFFFFF) !important;
    font-weight: $bold;
}

.loaderButton {
    display: flex;
    align-items: center;
}

.loaderImage {
    background: url('/assets/images/Icons/loaderSpinner.png');
    background-repeat: no-repeat;
    width: 20px;
    height: 20px;
}