<div class="container-fluid bg-white">
    <div class="row">
        <div class="col-lg-5 col-md-12 box-shadow-right-side login-page-padding-container">
            <!-- logo Component PMT Logo -->
            <app-logo></app-logo>

            <div class="forgotPasswordSection">
                <h3 class="fw-bold fs-5">{{resetPasswordFormLabel.resetPassword}}</h3> <!-- Forgot Password Header -->
                <h3 class="login-checkinbox-message">{{resetPasswordFormLabel.resetPassswordMessage}}</h3>
                <!-- Message  Below the Header-->

                <!-- New Password Field || Global password-input-field component -->
                <div class="emailInput resetNewPassswordField">
                    <app-password-field [inputConfig]="newPasswordConfig" [formInstance]="resetPasswordForm"
                        controlName="newPassword"></app-password-field>
                </div>

                <!-- Confirm Password Field || Global password-input-field component -->
                <div class="passwordInput resetCnfPassswordField">
                    <app-password-field [inputConfig]="confirmPasswordConfig" [formInstance]="resetPasswordForm"
                        controlName="cnfPassword"></app-password-field>
                </div>

                <div class="d-flex">
                    <button mat-button class="forgotPasswordBtn cancelBtn me-3" type="button"
                        (click)="onCancelClick()">{{resetPasswordFormLabel.cancel}}</button> <!-- Cancel Button -->

                    <!-- Reset Button -->
                    <button mat-button *ngIf="!isLoading" [disabled]="resetPasswordForm.invalid"
                        [ngStyle]="{'opacity': resetPasswordForm.invalid ? 0.5 : 1}" class="forgotPasswordBtn submitBtn"
                        type="submit" (click)="onSubmitClick()">{{resetPasswordFormLabel.reset}}</button>

                    <!-- Reset Button when the server is busy the loading symbol will appear -->
                    <button type="button" *ngIf="isLoading"
                        class="forgotPasswordBtn submitBtn loaderButton d-flex justify-content-center">
                        <span class="loaderImage me-3"></span>
                        <span>{{resetPasswordFormLabel.reset}}</span>
                    </button>
                </div>
            </div>
        </div>

        <!-- Forgot Password Right Side Message || Application Descrition -->
        <div class="col-lg-7 col-md-12 login-page-padding-container login-right-content d-flex align-items-center">
            <div class="row">
                <div class="col-md-12">
                    <h1>{{sideDescription.header}}</h1>
                    <h3>{{sideDescription.subtitle}}</h3>
                    <p>{{sideDescription.msg1}}</p>
                    <p>{{sideDescription.msg2}}</p>
                    <h4>{{sideDescription.msg3}}</h4>
                    <p>{{sideDescription.msg4}}</p>
                    <p>{{sideDescription.msg5}}</p>
                </div>
            </div>
        </div>
    </div>
</div>