<!-- Employee profile body component -->
<div class="employee-card-body">
    <div class="card-body">
        <div class="row keyvalue">
            <app-label-and-value [label]="key1.phoneNo" [value]="jobDetails.phoneNo">
            </app-label-and-value>
        </div>
        <div class="row keyvalue">
            <app-label-and-value [label]="key1.workEmail" [value]="jobDetails.workEmail">
            </app-label-and-value>
        </div>
        <div class="row keyvalue">
            <app-label-and-value [label]="key1.address" [value]="jobDetails.address">
            </app-label-and-value>
        </div>
        <div class="row keyvalue">
            <app-label-and-value [label]="key1.qualification" [value]="jobDetails.qualification">
            </app-label-and-value>
        </div>
        <div class="row keyvalue">
            <app-label-and-value [label]="key1.noOfProjects" [value]="jobDetails.noOfProjects">
            </app-label-and-value>
        </div>
        <div class="row keyvalue">
            <app-label-and-value [label]="key1.joiningDate" [value]="jobDetails.joiningDate">
            </app-label-and-value>
        </div>
        <div class="row keyvalue">
            <app-label-and-value [label]="key1.office" [value]="jobDetails.office">
            </app-label-and-value>
        </div>
        <div class="row keyvalue">
            <app-label-and-value [label]="key1.officeOption" [value]="jobDetails.officeOption">
            </app-label-and-value>
        </div>
    </div>
</div>