.workSchedule {
    border-radius: 4px;
    border: 1px solid #F0F0F0;
    background-color: #FFF;
}

.editButton{
    border-radius: 4px;
    border: 1px solid #E3F4FF;
    background-color: #F0F9FF;
}