<div class="container-fluid bg-white">
    <div class="row">
        <div class="col-lg-5 col-md-12 box-shadow-right-side login-page-padding-container">
            <!-- PMT Logo component -->
            <app-logo></app-logo>

            <div class="forgotPasswordSection">
                <h3 class="fw-bold fs-5">{{forgotPasswordFormLabel.forgotPassword}}</h3>  <!-- Forgot Password Header -->
                <h3 class="login-checkinbox-message">{{forgotPasswordFormLabel.forgotPassswordMessage}}</h3>  <!-- Forgot Password Header Message -->

                <!-- Email Input Field || Global email-input-field component-->
                <div class="emailInput">
                    <app-email-field [inputConfig]="emailConfig" [formInstance]="forgotPasswordForm"
                        controlName="email"></app-email-field>
                </div>

                <div class="d-flex">
                    <!-- Cancel Button : It will redirect to Login Page -->
                    <button mat-button class="forgotPasswordBtn cancelBtn me-3" type="button"
                        (click)="onCancelClick()">{{forgotPasswordFormLabel.cancel}}</button>

                    <!-- Submit Button : Redirect to Reset Password Page -->
                    <button mat-button *ngIf="!isLoading" [disabled]="forgotPasswordForm.invalid"
                        [ngStyle]="{'opacity': forgotPasswordForm.invalid ? 0.5 : 1}"
                        class="forgotPasswordBtn submitBtn" type="submit"
                        (click)="onSubmitClick()">{{forgotPasswordFormLabel.submit}}</button>
                    <button type="button" *ngIf="isLoading"
                        class="forgotPasswordBtn submitBtn loaderButton d-flex justify-content-center">
                        <span class="loaderImage me-3"></span>
                        <span>{{forgotPasswordFormLabel.submit}}</span>
                    </button>
                </div>
            </div>
        </div>

        <!-- Login Welcome Message -->
        <div class="col-lg-7 col-md-12 login-page-padding-container login-right-content d-flex align-items-center">
            <div class="row">
                <div class="col-md-12">
                    <h1>{{sideDescription.header}}</h1>
                    <h3>{{sideDescription.subtitle}}</h3>
                    <p>{{sideDescription.msg1}}</p>
                    <p>{{sideDescription.msg2}}</p>
                    <h4>{{sideDescription.msg3}}</h4>
                    <p>{{sideDescription.msg4}}</p>
                    <p>{{sideDescription.msg5}}</p>
                </div>
            </div>
        </div>
    </div>
</div>