.active-chip {
  background-color: #EAFFFA;
  width: 40%;
  border-radius: 4px;
  background: #EAFFFA;
  text-align: center;
  color: rgba(9,165,126,1);
}

.inactive-chip {
  background-color: rgb(240, 135, 135);
  color: rgb(239, 59, 59);
  width: 8%;
  text-align: center;
}