<div class="container-fluid bg-white">
  <div class="row">
    <div class="col-lg-5 col-md-12 box-shadow-right-side login-page-padding-container">
      <!-- reusable logo-component -->
      <app-logo class="mb-5"></app-logo>

      <div class="container mt-3 pt-5">
        <!-- reusable progress-tab component -->
        <app-progress-tab [activeStep]="displayPart" [tabsCount]="tabsCount"></app-progress-tab>
      </div>
      <!-- part-2 -->
      <h2>How are you planning on using ProManage?</h2>
      <form [formGroup]="registrationForm2">
        <mat-radio-group formControlName="purpose">
          <div>
            <mat-radio-button value="work">For Work</mat-radio-button>
          </div>
          <div>
            <mat-radio-button value="education">For Education</mat-radio-button>
          </div>
          <div>
            <mat-radio-button value="personal">For Personal project</mat-radio-button>
          </div>
        </mat-radio-group>
        <div class="row">
          <div class="col-4">
            <button type="button" class="social-media-button back-button" (click)="getPrevious()">
              <img src="../../assets/images/Icons/leftVector.png" alt="vector_Image" class="me-2" />Back
            </button>
          </div>
          <div class="col-5">
            <button type="button" class="social-media-button continue-button" (click)="getNext()">
              Continue
              <img src="../../assets/images/Icons/vector.png" alt="vector_Image" class="ms-2" />
            </button>
          </div>
        </div>
      </form>
    </div>
    <div class="col-lg-7 col-md-12 login-page-padding-container login-right-content d-flex align-items-center">
      <div class="row"></div>
    </div>
  </div>
</div>